views/index.jade
extends layout/header
block title
  title= "Southampton Sustainability Week 2016"
  meta(name='description', content='Welcome to Southampton Sustainability Week. Events across the city will be taking place from the 8th-16th October 2016. We will have talks, tours, film screenings, workshops, boat trips, bike rides, music and a lot more, on the theme of renewable energy, sustainable travel and business, low-carbon food and permaculture.')
  script(src="js/jquery-1.12.0.min.js")

extends layout/footer
block jsScripts
  script(src="js/isotope.pkgd.js")
  script(src="js/test-2.js")
  
extends layout


block content-main 
  header#branding
    img(src="/img/illustration.svg")
    p#date
      span 8th - 16th October 2016
    section#intro
      h1#cover-title Find out what's on 
        span in Southampton's first sustainability Week
      p We are really excited about Southampton's first sustainability week and have some great events lined up for you. Have a look to see what's on and hope to see you at an event soon!
      p 
        a(class='scroll-btn' href='#event-listings') Click here to see what's on
  section#event-listings
    section#filters
      h2 #[span Southampton Sustainability Week Event Listings]
      input(type="checkbox" id="op")
      .lower
        label(for="op") Click to filter
      .full  
        label Filter events by Category
      
      nav#event-categories
      
          ul
            label(for="op" class="") 
              li #[a(data-filter="*" class="reset main") All]
            label(for="op" class="") 
              li #[a(data-filter=".Zero-Carbon") Zero Carbon]
            label(for="op" class="") 
              li #[a(data-filter=".Zero-Waste") Zero Waste]
            label(for="op" class="") 
              li #[a(data-filter=".Sustainable-Transport") Sustainable Transport]
            label(for="op" class="") 
              li #[a(data-filter=".Sustainable-Materials") Sustainable Materials]
            label(for="op" class="") 
              li #[a(data-filter=".Local-And-Sustainable-Food") Local and sustainable food]
            label(for="op" class="") 
              li #[a(data-filter=".Sustainable-Water-Land-Use-And-Wildlife") Sustainable water, land use and wildlife]  
            label(for="op" class="") 
              li #[a(data-filter=".Culture-And-Heritage") Culture and heritage]  
            label(for="op" class="") 
              li #[a(data-filter=".Equity-And-Local-Economy") Equity and local economy]  
            label(for="op" class="") 
              li #[a(data-filter=".Health-And-Happiness") Health and happiness]
               
    section#events-container
      each post in site.events.all()
        -var a = post.tags.replace(/\s+/g, '-')
        -var tags = a.split(',')
        section(class=post._categories, class=post.day, class=tags)
          h3 #[a(href=post._url)=post.title]
          section.details
            p Date: 
              span= post.date
            p Time: 
              time= post.time
            p Location: 
              span= post.location
          p= post.excert  
        
          
    
      
    

public/index.html
<!DOCTYPE html><html><!DOCTYPE html><html><head><meta charset="utf8"><meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"><meta name="description" content="description of your site"><meta name="author" content="author of the site"><meta name="viewport" content="width=device-width, initial-scale=1"><title>Southampton Sustainability Week 2016</title><meta name="description" content="Welcome to Southampton Sustainability Week. Events across the city will be taking place from the 8th-16th October 2016. We will have talks, tours, film screenings, workshops, boat trips, bike rides, music and a lot more, on the theme of renewable energy, sustainable travel and business, low-carbon food and permaculture."><script src="js/jquery-1.12.0.min.js"></script><link rel='stylesheet' href='/css/build.css' /></head></html><body></body><div class="container"><header id="branding"><img src="/img/illustration.svg"><p id="date"><span>8th - 16th October 2016</span></p><section id="intro"><h1 id="cover-title">Find out what's on <span>in Southampton's first sustainability Week</span></h1><p>We are really excited about Southampton's first sustainability week and have some great events lined up for you. Have a look to see what's on and hope to see you at an event soon!</p><p> <a href="#event-listings" class="scroll-btn">Click here to see what's on</a></p></section></header><section id="event-listings"><section id="filters"><h2><span>Southampton Sustainability Week Event Listings</span></h2><input type="checkbox" id="op"><div class="lower"><label for="op">Click to filter</label></div><div class="full"> <label>Filter events by Category</label></div><nav id="event-categories"><ul><label for="op"> <li><a data-filter="*" class="reset main">All</a></li></label><label for="op"> <li><a data-filter=".Zero-Carbon">Zero Carbon</a></li></label><label for="op"> <li><a data-filter=".Zero-Waste">Zero Waste</a></li></label><label for="op"> <li><a data-filter=".Sustainable-Transport">Sustainable Transport</a></li></label><label for="op"> <li><a data-filter=".Sustainable-Materials">Sustainable Materials</a></li></label><label for="op"> <li><a data-filter=".Local-And-Sustainable-Food">Local and sustainable food</a></li></label><label for="op"> <li><a data-filter=".Sustainable-Water-Land-Use-And-Wildlife">Sustainable water, land use and wildlife</a>  </li></label><label for="op"> <li><a data-filter=".Culture-And-Heritage">Culture and heritage</a>  </li></label><label for="op"> <li><a data-filter=".Equity-And-Local-Economy">Equity and local economy</a>  </li></label><label for="op"> <li><a data-filter=".Health-And-Happiness">Health and happiness</a></li></label></ul></nav></section><section id="events-container"><section class="events Saturday Zero-Carbon Sustainable-Transport Health-And-Happiness Fringe-Events"><h3><a href="/events/1-10-16-1-Led-Cycle-Ride-1-10-16.html">Led cycle ride</a></h3><section class="details"><p>Date: <span>1/10/2016</span></p><p>Time: <time>1pm</time></p><p>Location: <span>Ship Inn, Redbridge</span></p></section><p>An easy-paced road ride to Beaulieu for tea.</p></section><section class="events Saturday Local-And-Sustainable-Food Health-And-Happiness Fringe-Events"><h3><a href="/events/1-10-16-Sustainability-Lunch-1-10-16.html">Sustainability Lunch</a></h3><section class="details"><p>Date: <span>1/10/2016</span></p><p>Time: <time>12noon</time></p><p>Location: <span>Highfield Church</span></p></section><p>Tasty sustainable lunch, drinks and guest speakers delving into food waste, energy storage and personal carbon footprints.</p></section><section class="events Thursday Culture-And-Heritage -Fringe-Events"><h3><a href="/events/6-10-16-Documentary-Evening.html">Documentary Evening</a></h3><section class="details"><p>Date: <span>6/10/2016</span></p><p>Time: <time>7pm</time></p><p>Location: <span>See tickets for details</span></p></section><p>A documentary with an environmental theme. Will be voted for on the day!</p></section><section class="events Saturday Zero-Carbon Sustainable-Transport Health-And-Happiness"><h3><a href="/events/8-10-16-1-Day-Cycle-Ride.html">Day Cycle Ride</a></h3><section class="details"><p>Date: <span>8/10/2016</span></p><p>Time: <time>9.30am</time></p><p>Location: <span>North Baddesley</span></p></section><p>A moderate-paced cycle ride to King's Somborne</p></section><section class="events Saturday Sustainable-Transport Sustainable-Water-Land-Use-And-Wildlife"><h3><a href="/events/8-10-16-2-Electric-Boat-Trips.html">Electric boat trips</a></h3><section class="details"><p>Date: <span>8/10/16</span></p><p>Time: <time>Various</time></p><p>Location: <span>See tickets</span></p></section><p>Join us for a trip out on the River Itchen and learn about the technology that can revolutionise water transportation, which is being developed here in Southampton.</p></section><section class="events Saturday Sustainable-Water-Land-Use-And-Wildlife"><h3><a href="/events/8-10-16-2-Science-Room-Earth-Alive.html">Is the Earth Alive?</a></h3><section class="details"><p>Date: <span>8/10/16</span></p><p>Time: <time>12.00noon</time></p><p>Location: <span>Art House Cafe</span></p></section><p>We are happy to invite Dr Jake Snaddon, an ecology researcher (studying organisms and the ecosystem they inhabit), to address the question &quot;Is the Earth alive?&quot;</p></section><section class="events Saturday Culture-And-Heritage Sustainable-Materials"><h3><a href="/events/8-10-16-3-Ecoprinting.html">Playing with Nature's Colours Ecoprinting</a></h3><section class="details"><p>Date: <span>8/10/2016</span></p><p>Time: <time>11am-4pm</time></p><p>Location: <span>Southampton City Art Gallery</span></p></section><p>An exciting opportunity to create a beautiful silk scarf using the colours of Nature.</p></section><section class="events Saturday Zero-Carbon Health-And-Happiness"><h3><a href="/events/8-10-16-4-Hopes-and-fears.html">Climate change - our hopes and fears</a></h3><section class="details"><p>Date: <span>8/10/2016</span></p><p>Time: <time>3-5pm</time></p><p>Location: <span>St Edmunds Church Hall</span></p></section><p>An opportunity to listen and be heard on the subject of climate change.</p></section><section class="events Saturday Local-And-Sustainable-Food"><h3><a href="/events/8-10-16-5-Lets-Cook-Vegan.html">Let's Cook Vegan</a></h3><section class="details"><p>Date: <span>8/10/2016</span></p><p>Time: <time>5.30pm-9.30pm</time></p><p>Location: <span>Minstead Study Centre</span></p></section><p>Sold out!</p></section><section class="events Sunday Sustainable-Transport Health-And-Happiness"><h3><a href="/events/9-10-16-1-bournemouth-cycle-ride.html">Day cycle ride to Bournemouth</a></h3><section class="details"><p>Date: <span>9/10/2016</span></p><p>Time: <time>9am</time></p><p>Location: <span>Redbridge Flyover</span></p></section><p>A faster ride to Bournemouth Airport for lunch</p></section><section class="events Saturday Sustainable-Transport Sustainable-Water-Land-Use-And-Wildlife"><h3><a href="/events/9-10-16-2-Electric-Boat-Trips.html">Electric boat trips</a></h3><section class="details"><p>Date: <span>9/10/16</span></p><p>Time: <time>Various</time></p><p>Location: <span>See tickets</span></p></section><p>Join us for a trip out on the River Itchen and learn about the technology that can revolutionise water transportation, which is being developed here in Southampton.</p></section><section class="events Sunday Sustainable-Transport Culture-And-Heritage"><h3><a href="/events/9-10-16-3-bicycle-film.html">Film Screening - Bicycle: A Great British Movement</a></h3><section class="details"><p>Date: <span>9/10/2016</span></p><p>Time: <time>3pm</time></p><p>Location: <span>The Art House</span></p></section><p>A documentary on the joy and history of cycling in Great Britain, plus a talk and demonstration from Nick Coates of Beamz bikes, where coppice wood poles are turned into high performance bikes.</p></section><section class="events Sunday Sustainable-Transport Health-And-Happiness"><h3><a href="/events/9-10-16-2-Landford-cycle-ride.html">Half-day cycle ride</a></h3><section class="details"><p>Date: <span>9/10/2016</span></p><p>Time: <time>9.30am</time></p><p>Location: <span>North Baddesley</span></p></section><p>A moderate-paced half-day road cycle ride.</p></section><section class="events Monday Local-And-Sustainable-Food Zero-Carbon"><h3><a href="/events/91-10-10-16-The-Burger-Apocalypse.html">The Burger Apocalypse with Tony Curran</a></h3><section class="details"><p>Date: <span>10/08/16</span></p><p>Time: <time>6:30pm</time></p><p>Location: <span>Mettricks</span></p></section><p>This entertaining and highly participative show explains how you can cut your food carbon footprint and reduce food waste.</p></section><section class="events Monday Sustainable-Water-Land-Use-And-Wildlife"><h3><a href="/events/91-10-10-16-The-Future-of-Marine-Sustainability.html">Improving Southampton's Environment</a></h3><section class="details"><p>Date: <span>10/10/16</span></p><p>Time: <time>7pm</time></p><p>Location: <span>Notes café</span></p></section><p>This panel discussion assembles a diverse panel of individuals to discuss how Southampton could become cleaner and greener.</p></section><section class="events Tuesday Local-And-Sustainable-Food Equity-And-Local-Economy"><h3><a href="/events/91-11-10-16-Food-Co-Ops–Cutting-Out-The-Middleman.html">Food Co-Ops – Cutting Out ‘The Middleman’</a></h3><section class="details"><p>Date: <span>11/10/2016</span></p><p>Time: <time>7:30pm</time></p><p>Location: <span>Mettricks Guildhall</span></p></section><p>A short talk on setting up food co-ops or buying groups, their cost savings and environmental benefits.</p></section><section class="events Wednesday Sustainable-Water-Land-Use-And-Wildlife Sustainable-Transport"><h3><a href="/events/91-12-10-16-2-sustainable-shipping.html">The Route to Sustainable Shipping</a></h3><section class="details"><p>Date: <span>12/10/16</span></p><p>Time: <time>6pm</time></p><p>Location: <span>Boldrewood Campus, University of Southampton</span></p></section><p>An academic and industry event exploring the challenges faced by the maritime industry in becoming more sustainable.</p></section><section class="events Tuesday Zero-Carbon"><h3><a href="/events/91-11-10-16-Renewable-energy.html">100% Renewable Energy IS Possible</a></h3><section class="details"><p>Date: <span>11/10/16</span></p><p>Time: <time>7:30pm</time></p><p>Location: <span>Butcher's Hook Alehouse</span></p></section><p>Mark Hancock, who has worked in renewable energy for 35 years will share his knowledge and enthusiasm in this engaging talk.</p></section><section class="events Wednesday Sustainable-Materials"><h3><a href="/events/91-12-10-16-recycling-talk.html">How do we improve our recycling system? Lessons from drinking German Beer!</a></h3><section class="details"><p>Date: <span>12/10/16</span></p><p>Time: <time>7pm</time></p><p>Location: <span>Building 58/Room 1045, Highfield Campus, University of Southampton</span></p></section><p>Germany is well past the 2030 recycling target of 65%. How did they do it, and can the UK do the same?</p></section><section class="events Thursday Local-And-Sustainable-Food"><h3><a href="/events/91-13-11-16-2-Hannah-Banana.html">&quot;Cheesy&quot; Vegan Cooking Demonstration</a></h3><section class="details"><p>Date: <span>13/10/2016</span></p><p>Time: <time>7pm</time></p><p>Location: <span>Notes Cafe</span></p></section><p>Sold out!</p></section><section class="events Friday Zero-Carbon Culture-And-Heritage"><h3><a href="/events/91-14-10-16-Sustainability-Themed-Researchers-Cafe.html">Sustainability-themed Researcher’s Café</a></h3><section class="details"><p>Date: <span>14/10/16</span></p><p>Time: <time>6:30pm</time></p><p>Location: <span>Mettricks Old Town</span></p></section><p>An opportunity to hear about the latest research into sustainability, direct from researchers, in a relaxed sociable setting.</p></section><section class="events Thursday Zero-Carbon"><h3><a href="/events/91-13-10-16-1-Renewable-Energy-Who-What-Why-When-Where-and-How.html">Renewable Energy; Who, What, Why, When, Where, and How?</a></h3><section class="details"><p>Date: <span>13/10/16</span></p><p>Time: <time>2pm</time></p><p>Location: <span>Notes Café</span></p></section><p>An in-depth on all forms of renewable energy, followed by a Q&amp;A session.</p></section><section class="events Saturday Health-And-Happiness Sustainable-Water-Land-Use-And-Wildlife"><h3><a href="/events/91-15-10-16-1-Hike-in-Hampshire.html">Hike in Hampshire</a></h3><section class="details"><p>Date: <span>15/10/16</span></p><p>Time: <time>10am-4pm</time></p><p>Location: <span>Meeting at Highfield Campus Interchange</span></p></section><p>A wonderfully wild walk with a talk and species identification.</p></section><section class="events Saturday Zero-Carbon Equity-And-Local-Economy"><h3><a href="/events/91-15-10-16-1-Solar-Farm-Tour.html">Solar Farm Tour</a></h3><section class="details"><p>Date: <span>15/10/2016</span></p><p>Time: <time>10.30am</time></p><p>Location: <span>West Solent Solar Farm</span></p></section><p>This community-owned solar farm can produce enough electricity to supply about 650 local homes!</p></section><section class="events Saturday Zero-Carbon Sustainable-Transport Health-And-Happiness"><h3><a href="/events/91-15-10-16-3-Cycle-Ride-to-Meonstoke.html">Cycle Ride to Meonstoke</a></h3><section class="details"><p>Date: <span>15/10/16</span></p><p>Time: <time>10am</time></p><p>Location: <span>Chandlers Ford Railway Station</span></p></section><p>A moderate-paced 45-mile bike ride</p></section><section class="events Saturday Sustainable-Materials Zero-Waste"><h3><a href="/events/91-15-10-16-2-Cupcake-Face-Mask-Making-Sessions.html">Cupcake Face Mask Making Sessions</a></h3><section class="details"><p>Date: <span>15/10/16</span></p><p>Time: <time>10am &amp; 5pm</time></p><p>Location: <span>Lush, 12 East Bargate Street, Southampton SO14 2DJ</span></p></section><p>Learn how to make face masks with all-natural ingredients.</p></section><section class="events Saturday Zero-Carbon"><h3><a href="/events/91-15-10-16-4-Every-Option-Except-Hinkley-C.html">Every option except Hinkley C</a></h3><section class="details"><p>Date: <span>15/10/16</span></p><p>Time: <time>12noon</time></p><p>Location: <span>Notes Cafe</span></p></section><p>Why we will never need another nuclear power plant like Hinkley Point C.</p></section><section class="events Saturday Local-And-Sustainable-Food"><h3><a href="/events/91-15-10-16-4-Science-cafe-Bugs.html">Are insects our future food source?</a></h3><section class="details"><p>Date: <span>15/10/16</span></p><p>Time: <time>3pm</time></p><p>Location: <span>The Bookshop Alehouse, 21 Portswood Road, SO17 2ES</span></p></section><p>A discussion about eating insects and a chance to try some tasty insect snacks!</p></section><section class="events Saturday Zero-Carbon Sustainable-Materials"><h3><a href="/events/91-15-10-16-4-Super-home.html">Superhome Energy Efficient Home Tour</a></h3><section class="details"><p>Date: <span>15/10/2016</span></p><p>Time: <time>Various times</time></p><p>Location: <span>Hilldown Road</span></p></section><p>A visit to a 'superhome', which has been refurbished and refitted to a very high standard of energy efficiency. An inspiration to the rest of us!</p></section><section class="events Sunday Zero-Carbon Sustainable-Transport Health-And-Happiness"><h3><a href="/events/91-16-10-16-1-Day-Cycle-Ride-to-Holt.html">Day cycle ride to Holt</a></h3><section class="details"><p>Date: <span>16/10/16</span></p><p>Time: <time>9am start</time></p><p>Location: <span>Redbridge Flyover</span></p></section><p>A moderate-paced cycle ride, with stops for tea and coffee.</p></section><section class="events Sunday Sustainable-Materials Equity-And-Local-Economy"><h3><a href="/events/91-16-10-16-2-Butterball-Bath-Bomb-Making-Sessions.html">Butterball bath-bomb making sessions</a></h3><section class="details"><p>Date: <span>16/10/16</span></p><p>Time: <time>11am &amp; 4pm</time></p><p>Location: <span>Lush, 12 East Bargate Street, Southampton, SO14 2DJ</span></p></section><p>Learn how to make this bath bomb, for delicious-looking skin!</p></section><section class="events Sunday Sustainable-Water-Land-Use-And-Wildlife"><h3><a href="/events/91-16-10-16-3-litter-pick.html">Litter Pick, Cake &amp; Climate Change Chat</a></h3><section class="details"><p>Date: <span>16/10/2016</span></p><p>Time: <time>2.30pm-4.30pm</time></p><p>Location: <span>St Lukes Church, Hedge End</span></p></section><p>Join us for a litter-pick, followed by cake and a chat about climate change.</p></section><section class="events Sunday Sustainable-Water-Land-Use-And-Wildlife"><h3><a href="/events/91-16-10-16-3-beach-clean.html">Beach Clean</a></h3><section class="details"><p>Date: <span>16/10/2016</span></p><p>Time: <time>11am-2pm</time></p><p>Location: <span>Near the Pitch and Putt Course, Weston Parade, Weston Shore, Southampton.</span></p></section><p>Join us for an Autumn beach clean and litter-pick.</p></section><section class="events Sunday Zero-Carbon Sustainable-Transport Health-And-Happiness"><h3><a href="/events/91-16-10-16-4-Woolston-to-Bursledon-Cycle-Ride.html">Woolston to Bursledon Cycle Ride</a></h3><section class="details"><p>Date: <span>16/10/16</span></p><p>Time: <time>9.45am – 1pm</time></p><p>Location: <span>Woolston Station</span></p></section><p>A sociable, easy paced ride.</p></section><section class="events Sunday Health-And-Happiness -Sustainable-Transport"><h3><a href="/events/Cargo-bike.html">Cargo &amp; trailer bike meet</a></h3><section class="details"><p>Date: <span>16/10/2016</span></p><p>Time: <time>1pm-2.00pm</time></p><p>Location: <span>Play Park, Southampton Common</span></p></section><p>A chance to meet up with people who carry large loads on their bicycle or trailer.</p></section><section class="events Saturday Local-And-Sustainable-Food Sustainable-Water-Land-Use-And-Wildlife"><h3><a href="/events/91-16-10-16-4-Fungi-Foray.html">Fungi Foray</a></h3><section class="details"><p>Date: <span>15/10/16</span></p><p>Time: <time>1:30pm</time></p><p>Location: <span>Southampton Common</span></p></section><p>Find and identify a range of fungi on Southampton Common.</p></section><section class="events Sunday Local-And-Sustainable-Food Sustainable-Water-Land-Use-And-Wildlife Culture-And-Heritage"><h3><a href="/events/91-16-10-16-6-Film-Screening-Inhabit-A-Permaculture-Perspective.html">Film screening – Inhabit: A Permaculture Perspective</a></h3><section class="details"><p>Date: <span>16/10/16</span></p><p>Time: <time>3pm</time></p><p>Location: <span>The Art House</span></p></section><p>Introducing permaculture, a design system based on earth care, people care and fair share. Plus talks from local people using permaculture techniques.</p></section></section></section><section id="social-links"><p><a href="https://twitter.com/SotonClimate" target="blank">Find us on twitter</a></p><p><a href="https://twitter.com/search?f=tweets&amp;q=%23sustainsoton" target="blank">#sustainsoton</a></p><p><a href="https://www.facebook.com/sustainsouthampton" target="blank">Like us on Facebook</a></p></section><script src='js/build.js'></script><script src="js/isotope.pkgd.js"></script><script src="js/test-2.js"></script></div></html>
